﻿@model MVCBase.Models.VesselVisit.CreateVesselVisitViewModel


@using (Html.BeginForm("Index", "VesselVisit", FormMethod.Post))
{
    <div class="jarviswidget">
        <header>
            <h2>Create VesselVisit </h2></header>
        <div class="widget-body">
            <div class="form-group">
                @Html.LabelFor(x => x.Linea, new {@class = "col-lg-2"})
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.Linea, new {@class = "form-control"})
                </div>
            </div>
        </div>

    </div>

    <div class="form-actions">
        <button class="btn btn-success" type="submit">Submit test</button>
    </div>
}

